<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<div class="back">
    <div class="main">
        <div class="carrito">
            <div class="separador">
                <h1>Tu carrito</h1>
                <hr>
            </div>
            <div class="container">
                <div class="lista-comprados">
                    <div class="card-juegos-carrito">
                        <img class="foto-juego">
                        <div class="info-juego">

                        </div>
                    </div>
                </div>
                <div class="card-compra">
                    <div class="precio-container">
                        <p class="texto-precio">Total de la compra</p>
                        <p class="texto-precio-total">100</p>
                    </div>
                    <button class="boton-pagar"><p class="txt-boton-pagar">Continuar con el pago</p></button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/carrito/carrito.css">