<div class="back">
    <div class="main">
        <div class="container">
            <form action="/usuario/login" method="post" name="miFormulario">
                <p class="title-login">Iniciar sesión</p>
                <p class="subtitle-login">Bienvenido de nuevo</p>
                <div class="info-usuario-logueado">
                    <div class="email-login">
                        <label class="txt-email-password" for="idUsuario">Usuario:</label>
                        <input class="input-email-password" type="text" id="idUsuario" name="usuario" autofocus required
                            placeholder="Email">
                    </div>
                    <div class="password-login">
                        <label class="txt-email-password" for="idUsuario">Contraseña:</label>
                        <input class="input-email-password" type="password" id="idContrasenya" name="contrasenya"
                            autofocus required placeholder="Password">
                    </div>
                </div>
                <p class="link-register">Nuevo? <a href="registro">Crea una cuenta aquí</a></p>
                <button class="button-login" type="submit">
                    <p class="button-text">Iniciar sesión</p>
                </button>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/login.css">
