<div class="container">
    <form action="/" method="post" name="miFormulario" class = "montserrat-font">
        <h1>Registro de nuevo usuario</h1>
        <label for = "idUsuario">Nombre de usuario:</label>
        <input type ="text" name ="nuevoUsuario" id ="idUsuario" required>
        <label class ="incorrecto" id ="infoUsuario"></label>
        <label for ="idContrasenya">Contraseña: </label>
        <div class="password-container" style="position: relative; display: flex; align-items: center">
            <input type ="password" name ="nuevaContrasenya" id ="idContrasenya" required>
            <i class="fa-solid fa-eye" id="togglePassword" style="position: absolute; right: 10px;cursor: pointer;"></i>
        </div>
        <label class ="incorrecto" id ="infoContrasenya"></label>
        <label for ="idContrasenya">Repita la contraseña: </label>
        <input type ="password" name ="nuevaContrasenya2" id ="idContrasenya2" required>
        <label class ="incorrecto" id ="infoContrasenya2"></label>
        <label for ="idEmail">Email: </label>
        <input type ="email" name ="nuevoEmail" id ="idEmail" required>
        <label class ="incorrecto" id ="infoEmail"></label>
        <label for ="idEdad">Fecha de nacimiento: </label>
        <input type ="text" name ="nuevaEdad" id ="idFecha" placeholder="dd-MM-yyyy" required>
        <label class ="incorrecto" id ="infoFecha"></label>
        <div class ="terminos">
            <input type ="checkbox" id ="id-terminos">
            <label class ="enlaceTerminos" for ="id-terminos">Acepto los <a href ="/usuario/terminos"><b>términos y las condiciones</b></a></label>
        </div>
        <input type="submit" value="Registrarse" name="registrarse" id="redireccionar">
    </form> 
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel ="stylesheet" href="/css/registro.css">
<link rel ="stylesheet" href="/lib/jquery-ui.css">
<link rel ="stylesheet" href="/lib/jquery-ui.structure.css">

<script src ="/lib/jquery-ui.js"></script>
<script src ="/jquery/registro.js"></script>
<script src = "/js/registro.js"></script>