<form action="/admin/cambiar-card/{id}" method="post">
    <input type="hidden" name="id" value="${videojuegoActual.id}" />
    <label for="nuevoId">Seleccione el nuevo videojuego:</label>
    <select name="nuevoId" id="nuevoId">
        <option th:each="videojuego : ${todosLosVideojuegos}" th:value="${videojuego.id}"
            th:text="${videojuego.nombre}"></option>
    </select>
    <button type="submit">Cambiar videojuego</button>
</form>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<div class="back">
    <div class="main">
        <div class="juegos">
            <div class="separador">
                <h1>Seleccione el nuevo videojuego:</h1>
                <hr>
            </div>
            <form th:action="@{'/admin/editar-card/' + ${videojuegoActual.id}}" method="post">
                <button type="submit" class="button-submit">
                    <p class="button-txt">Cambiar</p>
                </button>
                <div class="card-container">
                    <label th:each="videojuego : ${todosLosVideojuegos}" class="card"
                        th:for="'radio-' + ${videojuego.id}">
                        <input type="radio" name="nuevoId" th:value="${videojuego.id}"
                            th:id="'radio-' + ${videojuego.id}" hidden>

                        <div class="card-img" th:style="'background-image: url(' + ${videojuego.imagenUrl} + ')'"></div>
                        <div class="card-footer">
                            <div class="average" th:classappend="' ' + ${videojuego.colorPorPuntuacion}">
                                <p class="average-txt" th:text="${videojuego.puntuacionMedia}"></p>
                            </div>
                            <p class="nombre-juego" th:text="${videojuego.nombre}"></p>
                        </div>
                    </label>
                </div>
            </form>

        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/admin/editar-card.css">