<div id="navigationBar">
    <a href="/">
        <img src="img/Logo_t.png" aria-current="page" alt="logo_gamecore" id="logo">
    </a>
    <div class="busqueda">
        <button id="img-lupa">
            <img src="/img/icons/magnifier.png" alt="lupa" id="lupa">
        </button>
        <input type="text" name="busqueda" id="id-busqueda" placeholder="Buscar juego"/>
    </div>
    <div id="inicioSesion">
        <a href="/login">Iniciar sesión</a>
        <label>|</label>
        <a href="/registro">Registro</a>
    </div>
</div>
<script src="jquery/nav.js"></script>
<link rel="stylesheet" href="css/nav.css">
