<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMECORE</title>
    <link rel="stylesheet" href="css/home.css">
    <script src = "lib/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div id ="navigationBar">
        <a href ="/">
            <img src ="img/LOGO.png" aria-current ="page" alt="logo_gamecore" id ="logo">
        </a>
        <div id = "inicioSesion">
            <a href = "/login/login">Iniciar sesión</a>
            <label>|</label>
            <a href = "registro.html">Registro</a>
        </div>
    </div>
    <script src ="jquery/nav.js"></script>
</body>
</html>