* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    width: 100%;
    display: flex;
    min-height: 100%;
    justify-content: center;
    min-height: 100vh;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

.main {
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin-top: 56px;
    margin-bottom: 56px;
}

.separador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
}

hr {
    width: 1376px;
    height: 2px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.usuarios-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}


.button-submit {
    display: flex;
    width: 344px;
    height: 48px;
    padding: 12px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FF8E0C;
}

.button-txt {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 229.33px;
    height: 76px;
}

td {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 229.33px;
    height: 76px;
}

.btn-tabla{
    all: unset;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.acciones{
    display: flex;
    justify-content: center;
}