* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

.admin-bar {
    display: flex;
    padding: 10px 48px;
    align-items: center;
    align-self: stretch;
    background: #000;
}

.admin-text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.back {
    width: 100%;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.nav-bg {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.navcontainer {
    background-color: black;
    display: flex;
    width: 1440px;
    height: 72px;
    padding: 4px 28px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    position: relative;
    height: 35px;
    width: auto;
    top: 4px;
}

ol,
ul,
li {
    list-style: none;
}

.nav-links {
    display: block;
    align-items: center;
    gap: 20px;
}

.nav-links>li {
    float: left;
    text-decoration: none;
}

.txt-nav-links {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 10px 10px;
}

ul, li {
    border-radius: 8px;
}

/*.nav-links a {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 10px 10px;
}*/

.txt-deplegable-genero {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 10px;
    background-color: black;
}

.nav-links li a {
    display: block;
}

.nav-links li ul {
    display: none;
    position: absolute;
    z-index: 9999;
}

.nav-links li:hover>ul {
    display: block;
}

.txt-deplegable-genero:hover {
    background-color: #FF8E0C;
    font-weight: bold;
    text-decoration: none;
}

.genero-radius{
    border-radius: 8px;
}

.busqueda {
    position: relative;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    width: 360px;
    height: 48px;
    padding: 0px 16px 0px 16px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

#id-busqueda {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
}

#img-lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#img-lupa img {
    width: 24px;
    height: 24px;
}

#carrito {
    height: 50px;
    align-items: center;
}

svg {
    width: 55px;
    height: 55px;
    text-decoration: none;
    color: white;
}

.botones-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

#inicioSesion {
    display: flex;
    width: 140px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #FF8E0C;
    background: #000;
    transition: transform 0.3s ease-in-out;
    color: #FF8E0C;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

#registro {
    display: flex;
    width: 140px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #FF8E0C;
    transition: transform 0.3s ease-in-out;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}


#registro:hover,
#inicioSesion:hover {
    transform: scale(1.1);
}

.iconbg {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FF8E0C;
}

.iconUser {
    width: 55px;
    height: 50px;
}


.bi {
    width: 35px;
    height: 35px;
    position: relative;
    top: 8px;
}

.admin-panel {
    display: flex;
    padding: 10px 48px;
    align-items: center;
    align-self: stretch;
    background: #000;
    gap: 0px;
    width: 1440px;
}

.admin-txt {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 9px;
}

.nav-bg-admin {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.perfilLogin li a{
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 400;
}

.perfilLogin > li{
    float: left;
    position: relative;
}

.txt-nav-links:hover{
    color: #FF8E0C;
}

.txt-nav-perfil:hover{
    background-color: #FF8E0C;
}

.perfilLogin li ul{
    display: none;
    position: absolute;
}

.perfilLogin li:hover > ul{
    display: block;
}

.desplegable2 {
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-84%);
    background-color: black;
    border-radius: 8px;
    padding: 10px 0;
    z-index: 100;
    min-width: 160px;
}

.txt-nav-perfil {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 10px 10px;
}

.txt-nav-nombre-usuario {
    color: #FF8E0C;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 10px 10px;
}