#navigationBar{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    justify-content: space-between;
}
.busqueda {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 5px; 
    margin-left: auto;
}
#id-busqueda {
    border-radius: 50px;
    padding: 8px;
    width: 500px; 
    border: 1px solid black;
}
#img-lupa {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#lupa {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#inicioSesion {
    position: relative;
    width: 300px;
    float: right;
    margin-left: auto;
}
#logo{
    height: 42px;
    width: 263px;
    cursor: pointer;
    background-color: transparent;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
} 
