html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

.main {
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 56px;
    gap: 56px;
}

.container,
form {
    display: flex;
    padding: 16px 16px 16px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: #F5F5F5;
}

.title-register {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle-register {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-usuario-register {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;
}

.data-register {
    display: flex;
    width: 324px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.txt-form-register {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-form-register {
    display: flex;
    width: 320px;
    height: 40px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
}

.button-register {
    display: flex;
    width: 344px;
    height: 48px;
    padding: 12px 140px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF8E0C;
    cursor: pointer;
}

.button-text {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-form-register {
    flex: 1;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    color: #888;
}