body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Prompt', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: white;
    border-top: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    margin-top: 150px;
}
form label, input{
    width: 100%;
}
form label{
    font-size: 30px;
    text-align: center;
}
form input{
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    padding: 3px;
}
#redireccionar{
    margin-top: 50px;
    padding: 15px;
    background-color: orange;
}
.info{
    font-size: 15px;
    margin-bottom: 20px;
}
.terminos {
    display: flex;
    align-items: center;  
    gap: 10px; 
}
#id-terminos {
    width: 16px; 
    height: 16px;
    cursor: pointer;
    margin-bottom: 0;

}
.enlaceTerminos {
    font-size: 15px;
    cursor: pointer;
}
.montserrat-font{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.incorrecto{
    font-size: 12px;
}
h1 {
    margin-bottom: 50px;
}
.password-container{
    width: 100%; 
    box-sizing: border-box; 
}