<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/login.css">

<div class="container">
    <fieldset>
        <h1>Iniciar sesión</h1>

        <form action="/login" method="post" name="miFormulario">
            <label for="idUsuario">Usuario:</label>
            <input type="text" id="idUsuario" name="usuario" autofocus>
            <br>

            <label for="idContrasenya">Contraseña:</label>

            <div class="password-container">
                <input type="password" id="idContrasenya" name="contrasenya" autofocus>
                <span id="mostrarContrasenya" name="mostrar"><i id="toggler" class="far fa-eye"></i></span>
            </div>

            <div id="obligatorio" name="obligatorio" hidden>Todos los campos son obligatorios</div>
            <input type="submit" value="Iniciar sesión" name="iniciarSesion" id="submit">
            <label class="info">¿No tienes una cuenta? <a href="registro.html">Regístrate aquí</a></label>
        </form>
    </fieldset>
</div>

<script src="lib/jquery-3.7.1.min.js"></script>
<script src="js/login.js"></script>
<script src="jquery/login.js"></script>
