<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMECORE</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="lib/jquery-3.7.1.min.js"></script>
</head>
<body>
    <input type ="text" name ="busqueda" id ="id-busqueda" placeholder="Buscar juego"/>
    <button id ="img-lupa">
        <img src ="/img/icons/magnifier.png" alt ="lupa" id ="lupa">
    </button>
</body>

</html>